<h2>Servers works!</h2>
<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input
  type="text"
  class="form-control"
  [placeholder]="placeholderServerName"
  [(ngModel)]="serverName"
/>
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
@if (serverCreated && serverName !== '') {
<p>Server was created with name: {{ serverName }}</p>
}
<app-server *ngFor="let server of servers"></app-server>
